<div class="container">
  <div class="row">
    <div class="col">
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" [routerLink]="'/'">{{ title }}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/config']">Configure</a>
              </li>
            </ul>
          </div>
        </nav>

        <div *ngIf="messages$ | async as messages">
          <div *ngIf="messages.length > 0" class="row">
            <div class="col">
              <p *ngFor="let message of messages">{{ MessageType[message.type] }}: {{ message.text }}</p>
              <p><button (click)="clearMessages()" type="button" class="btn-sm btn-secondary">Clear messages</button></p>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <footer><p><small>&copy; {{ year }} Dan Silcox</small></p></footer>
    </div>
  </div>
</div>